[general]
database_connection_string = "postgresql://postgres:postgres@localhost/enclave"
server_port = 18080
replication_server_url = "http://localhost:18082"
seed_dir = "./seed"
[gcloud]
project_id = "mercury-441416"
project_number = "100600525477"
location_id = "global"
[secretmanager]
key_name = "encrypted-key"
[kms]
ring = "enclave"
crypto_key = "sealing"
[hashicorp]
hcp_client_id = ""
hcp_client_secret = ""
organization_id = ""
project_id = ""
app_name = ""
secret_name = ""
